<!DOCTYPE html>
<head>  
    <meta charset="UTF-8">
    <title>Monster Killer</title>
    <link rel="stylesheet" href="style.css">
    <script src="http://unpkg.com/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet"> 
</head> 
<body>
    <div id="app">
        <!-- PAINEIS -->
        <!-- PAINEL DE SCORES -->
        <div class="panel scores">
            <!-- SCORE JOGADOR -->
            <div class="score">
                <h1>Jogador</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: playerLife < 20}"
                        :style="{width: playerLife + '%'}" 
                    ></div>
                </div>
                <div>{{playerLife}}%</div>
            </div>
            <!-- SCORE MONSTER -->
            <div class="score">
                <h1>Monstro</h1>
                <div class="life-bar">
                    <div class="life" 
                        :class="{danger: monsterLife < 20}"
                        :style="{width: monsterLife + '%'}"    
                    ></div>
                </div>
                <div>{{monsterLife}}%</div>
            </div>
        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife == 0" class="win">Você ganhou oporra!!! :)</div>
            <div v-else class="lose">Você perdeu caralho!!! :)</div>
        </div>
        <div class="panel buttoms"></div>
        <div class="panel logs"></div>
    </div>
    <script src="app.js"></script>
</body>
</html>