/* Geral */
html {
    font-family: 'Monserrat',sans-serif;
}

#app{
    display: flex;
    flex-direction: column;
}

.panel{
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px  rgba(0,0,0,0.15);
}

/* AREA DOS PONTOS */

.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1{
    font-weight: 300;
    font-size: 1.6rem;
}

.life-bar{
    width: 80%;
    height: 20px;
    border: solid 1px #AAA;
}

.life-bar .life{
    display: flex;
    justify-content: center;
    height: 100%;
    /* width: 50%; não colocado pq vai ser
    controlado pelo VueJS*/
    background-color: green;
}

.life-bar .life.danger{
    background-color: red;
}